---
interface Props {
    imgSrc: string,
    imgAlt: string,
    title: string,
    description: string,
    linkedinUrl: string,
    linkedinUrlTitle: string,
    instagramUrl: string,
    instagramUrlTitle: string,
    speakerdeckUrl: string,
    speakerdeckUrlTitle: string
};

const {
    imgSrc = '',
    imgAlt = '',
    title = '',
    description = '',
    linkedinUrl = '',
    linkedinUrlTitle = '',
    instagramUrl = '',
    instagramUrlTitle = '',
    speakerdeckUrl = '',
    speakerdeckUrlTitle = ''
} = Astro.props;
---
<section class="hero center-content">
    <div class="figure-content">
        <figure>
            <img
                fetchpriority="high"
                src={imgSrc}
                alt={imgAlt}
            />
        </figure>
        { linkedinUrl ?
            <a
                href={linkedinUrl}
                title={linkedinUrlTitle}
                target="_blank">

                <svg
                    width="40"
                    height="40"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">

                    <rect x="2" y="2" width="28" height="28" rx="14" fill="#1275B1"/>
                    <path d="M12.6186 9.69215C12.6186 10.6267 11.8085 11.3843 10.8093 11.3843C9.81004 11.3843 9 10.6267 9 9.69215C9 8.7576 9.81004 8 10.8093 8C11.8085 8 12.6186 8.7576 12.6186 9.69215Z" fill="white"/>
                    <path d="M9.24742 12.6281H12.3402V22H9.24742V12.6281Z" fill="white"/>
                    <path d="M17.3196 12.6281H14.2268V22H17.3196C17.3196 22 17.3196 19.0496 17.3196 17.2049C17.3196 16.0976 17.6977 14.9855 19.2062 14.9855C20.911 14.9855 20.9008 16.4345 20.8928 17.5571C20.8824 19.0244 20.9072 20.5219 20.9072 22H24V17.0537C23.9738 13.8954 23.1508 12.4401 20.4433 12.4401C18.8354 12.4401 17.8387 13.1701 17.3196 13.8305V12.6281Z" fill="white"/>
                </svg>
            </a>
            : ''
        }
        { speakerdeckUrl ?
            <a
                href={speakerdeckUrl}
                title={speakerdeckUrlTitle}
                target="_blank">

                <svg
                    width="40px"
                    height="40px"
                    viewBox="0 -48 256 256"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    preserveAspectRatio="xMidYMid">

                    <g>
                        <path d="M106.932331,100 L50,100 C22.3857624,100 0,77.6142376 0,50 C0,22.3857624 22.3857624,0 50,0 L116.421053,0 C127.466748,0 136.421053,8.9543048 136.421053,20 C136.421053,31.0456952 127.466748,40 116.421053,40 L48.977444,40 C43.454596,40 38.977444,44.4771528 38.977444,50 C38.977444,55.5228472 43.454596,60 48.977444,60 L105.909774,60 C133.524012,60 155.909774,82.3857624 155.909774,110 C155.909774,137.614238 133.524012,160 105.909774,160 L20,160 C8.9543048,160 0,151.045695 0,140 C0,128.954305 8.9543048,120 20,120 L106.932331,120 C112.455178,120 116.932331,115.522847 116.932331,110 C116.932331,104.477153 112.455178,100 106.932331,100 Z M149.013633,160 C162.31303,151.005667 171.818454,136.66797 174.567639,120 L206.843433,120 C212.273117,120 216.674746,115.522847 216.674746,110 L216.674746,50 C216.674746,44.4771528 212.273117,40 206.843433,40 L148.210526,40 C152.880793,34.6924352 155.720602,27.683544 155.720602,20 C155.720602,12.316456 152.880793,5.3075648 148.210526,0 L216.674746,0 C238.393484,0 256,17.9086104 256,40 L256,120 C256,142.09139 238.393484,160 216.674746,160 L149.013633,160 Z" fill="#009287"></path>
                    </g>
                </svg>
            </a>
            : ''
        }
        { instagramUrl ?
            <a
                href={instagramUrl}
                title={instagramUrlTitle}
                target="_blank">

                <svg
                    width="40px"
                    height="40px"
                    viewBox="0 0 48 48"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">

                    <circle cx="24" cy="24" r="20" fill="#C13584"/>
                    <path d="M24 14.1622C27.2041 14.1622 27.5837 14.1744 28.849 14.2321C30.019 14.2855 30.6544 14.481 31.0773 14.6453C31.6374 14.863 32.0371 15.123 32.457 15.5429C32.877 15.9629 33.137 16.3626 33.3547 16.9227C33.519 17.3456 33.7145 17.981 33.7679 19.1509C33.8256 20.4163 33.8378 20.7958 33.8378 23.9999C33.8378 27.2041 33.8256 27.5836 33.7679 28.849C33.7145 30.019 33.519 30.6543 33.3547 31.0772C33.137 31.6373 32.877 32.0371 32.4571 32.457C32.0371 32.8769 31.6374 33.1369 31.0773 33.3546C30.6544 33.519 30.019 33.7144 28.849 33.7678C27.5839 33.8255 27.2044 33.8378 24 33.8378C20.7956 33.8378 20.4162 33.8255 19.151 33.7678C17.981 33.7144 17.3456 33.519 16.9227 33.3546C16.3626 33.1369 15.9629 32.8769 15.543 32.457C15.1231 32.0371 14.863 31.6373 14.6453 31.0772C14.481 30.6543 14.2855 30.019 14.2321 28.849C14.1744 27.5836 14.1622 27.2041 14.1622 23.9999C14.1622 20.7958 14.1744 20.4163 14.2321 19.1509C14.2855 17.981 14.481 17.3456 14.6453 16.9227C14.863 16.3626 15.123 15.9629 15.543 15.543C15.9629 15.123 16.3626 14.863 16.9227 14.6453C17.3456 14.481 17.981 14.2855 19.151 14.2321C20.4163 14.1744 20.7959 14.1622 24 14.1622ZM24 12C20.741 12 20.3323 12.0138 19.0524 12.0722C17.7752 12.1305 16.9028 12.3333 16.1395 12.63C15.3504 12.9366 14.6812 13.3469 14.0141 14.0141C13.3469 14.6812 12.9366 15.3504 12.63 16.1395C12.3333 16.9028 12.1305 17.7751 12.0722 19.0524C12.0138 20.3323 12 20.741 12 23.9999C12 27.259 12.0138 27.6676 12.0722 28.9475C12.1305 30.2248 12.3333 31.0971 12.63 31.8604C12.9366 32.6495 13.3469 33.3187 14.0141 33.9859C14.6812 34.653 15.3504 35.0633 16.1395 35.3699C16.9028 35.6666 17.7752 35.8694 19.0524 35.9277C20.3323 35.9861 20.741 35.9999 24 35.9999C27.259 35.9999 27.6677 35.9861 28.9476 35.9277C30.2248 35.8694 31.0972 35.6666 31.8605 35.3699C32.6496 35.0633 33.3188 34.653 33.9859 33.9859C34.653 33.3187 35.0634 32.6495 35.37 31.8604C35.6667 31.0971 35.8695 30.2248 35.9278 28.9475C35.9862 27.6676 36 27.259 36 23.9999C36 20.741 35.9862 20.3323 35.9278 19.0524C35.8695 17.7751 35.6667 16.9028 35.37 16.1395C35.0634 15.3504 34.653 14.6812 33.9859 14.0141C33.3188 13.3469 32.6496 12.9366 31.8605 12.63C31.0972 12.3333 30.2248 12.1305 28.9476 12.0722C27.6677 12.0138 27.259 12 24 12Z" fill="white"/>
                    <path d="M24.0059 17.8433C20.6026 17.8433 17.8438 20.6021 17.8438 24.0054C17.8438 27.4087 20.6026 30.1675 24.0059 30.1675C27.4092 30.1675 30.1681 27.4087 30.1681 24.0054C30.1681 20.6021 27.4092 17.8433 24.0059 17.8433ZM24.0059 28.0054C21.7968 28.0054 20.0059 26.2145 20.0059 24.0054C20.0059 21.7963 21.7968 20.0054 24.0059 20.0054C26.2151 20.0054 28.0059 21.7963 28.0059 24.0054C28.0059 26.2145 26.2151 28.0054 24.0059 28.0054Z" fill="white"/>
                    <path d="M31.8507 17.5963C31.8507 18.3915 31.206 19.0363 30.4107 19.0363C29.6154 19.0363 28.9707 18.3915 28.9707 17.5963C28.9707 16.801 29.6154 16.1562 30.4107 16.1562C31.206 16.1562 31.8507 16.801 31.8507 17.5963Z" fill="white"/>
                </svg>
            </a>
            : ''
        }
    </div>
    <div class="description">
        <h1 set:html={title} class="text-3d"/>
        {
            description.map(paragraph => (
                <p set:html={paragraph} />
            ))
        }
    </div>
</section>

<style lang="scss">
    @import '../../styles/breakpoints';

    .hero {
        align-items: center;

        @include media-breakpoint-up(sd) {
            display: flex;
        }
    }

    .figure-content {
        padding: 0;
        position: relative;
        overflow: hidden;
        text-align: center;
        min-width: 280px;

        @include media-breakpoint-down(sd) {
            margin-left: auto;
            margin-right: auto;
            max-width: 25%;
        }

        @include media-breakpoint-up(sd) {
            margin-right: 2rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 30%;
        }

        figure {
            background: linear-gradient(-71deg, var(--dark-strong), var(--dark), var(--dark-strong));
            border-radius: 8px;
            background-clip: padding-box;
            position: relative;
            border: 2px solid transparent;
            min-width: 260px;
            max-width: 280px;

            &::after {
                border-radius: 8px;
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: -1px;
                right: -1px;
                content: "";
                z-index: -1;
                background: linear-gradient(-71deg, var(--dark-strong), rgba(255, 255, 255, .5), var(--dark-strong));
            }

            img {
                width: 100%;
                display: block;
            }
        }

        a {
            display: inline-block;
            margin-inline-end: .5rem;
            line-height: 40px;
        }
    }

    .description {
        max-width: 768px;
    }
</style>
