---
interface Props {
    description: string;
    keywords: string;
    ogimage?: string;
    robots?: string;
    title: string;
}

const {
    description="",
    keywords="",
    ogimage="/static/images/pages/ogimage-default.png",
    robots="index, follow",
    title="",
} = Astro.props;

import "@styles/index.scss";
---

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="robots" content={robots} />

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />

<!-- Primary Meta Tags -->
<title>{title} | robsonjunior.dev</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(ogimage, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(ogimage, Astro.url)} />

<!-- Font preloads -->
<link
    crossorigin
    rel="preload"
    as="font"
    type="font/ttf"
    href="/static/fonts/Rubik/Rubik-Regular.ttf"
/>
<link
    crossorigin
    rel="preload"
    as="font"
    type="font/ttf"
    href="/static/fonts/Rubik/Rubik-Regular.ttf"
/>
<link
    crossorigin
    rel="preload"
    as="font"
    type="font/ttf"
    href="/static/fonts/Rubik/Rubik-Black.ttf"
/>
