---
import i18nConfig from "@i18n/config";
import LayoutDefault from "@layouts/Default.astro";
import Hero from "@components/blocking-builds/Hero.astro";

export async function getStaticPaths() {
    let i18nData = await Astro.glob("../../i18n/view/home/index.js");

    return i18nConfig.langs.map((lang) => {
        return {
            params: { lang },
            props: {
                lang,
                data: i18nData[0].default[lang]
            }
        };
    });
};

const { lang, data } = Astro.props;
const metatag = data.heading.meta;
const page = data.page;
---

<LayoutDefault
    lang={lang}
    title={metatag.title}
    description={metatag.description}
    keywords={metatag.keywords}
    robots={metatag.robots}
>
    <main>
        <Hero
            title={page.hero.title}
            description={page.hero.description}
        />
    </main>
</LayoutDefault>
