---
import Head from "../components/Head.astro";
import Header from "../components/blocking-builds/Header.astro";
import Kbar from "../components/react/Kbar/Kbar.jsx";
import NavigationRight from "../components/vue/NavigationRight.vue";

const {
    lang,
    title,
    description,
    robots
} = Astro.props;

import { getData } from '@utils/data.js';
---

<html lang={lang}>
    <head>
        <Head
            title={title}
            description={description}
            robots={robots} />
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-PD9CKQS5"
                style="display:none;visibility:hidden"
                width="0"
                height="0">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

        <Kbar :lang={lang} client:load />
        <Header />
        <NavigationRight items={getData.components.header[lang].menu.items} client:load />

        <main>
            <slot>
        </main>
    </body>
</html>
