---
import Head from "@components/Head.astro";
import Header from "@components/blocking-builds/Header.astro";
import Footer from "@components/blocking-builds/Footer.astro";
import Kbar from "@components/react/Kbar/Kbar.jsx";
import NavigationRight from "@components/vue/NavigationRight.vue";
import ShadowMouseMove from "@components/ShadowMouseMove.astro";
import Trd3 from "@components/Trd3.astro";

const {
    description,
    lang,
    title
} = Astro.props;

import { getData } from '@utils/data.js';

const menuItems = getData.components.header[lang].menu.items;
---
<html lang="pt-BR">
    <head>
        <Head title={title} description={description} />
    </head>
    <body>
        <div style="position: relative; z-index: 1;">
            <Kbar client:load />
            <Header items={menuItems} lang={lang} />
            <NavigationRight
                client:load
                items={menuItems}
            />

            <main>
                <slot />
            </main>

            <Footer />
        </div>

        <Trd3 />

        <ShadowMouseMove />
    </body>
</html>
