---
import Default from '../../layouts/Default.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import FeaturedPost from '../../components/FeaturedPost.astro';
import TitleListPost from '../../components/TitleListPost.astro';
import LineDivisor from '../../components/LineDivisor.astro';

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---
<Default>
    <div class="center-content">
        <FeaturedPost />
    </div>
    <div class="center-content">
        <LineDivisor />
     </div>
    <div class="center-content">
        <TitleListPost />
    </div>

    <div class="center-content">
       <LineDivisor />
    </div>

    <div class="center-content">
        <ul class="post-list">
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
            <li class="post-item">
                <div class="post">
                    <a href="">
                        <figure class="post-figure">
                            <img src="/blog-placeholder-1.jpg" alt="" class="">
                        </figure>
                        <div class="post-content">
                            <h3>
                                Azion Functions | Como usamos serverless JavaScript functions no dia a dia para facilitar e adiantar as próprias entregas
                            </h3>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="center-content">
        <button class="">
            carregar mais
        </button>
    </div>

    <!-- <section class="center-content">
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={`/blog/${post.slug}/`}>
                            <img
                                width={720}
                                height={360}
                                src={post.data.heroImage}
                                alt=""
                            />
                            <h4 class="title">{post.data.title}</h4>
                            <p class="date">
                                <FormattedDate
                                    date={post.data.pubDate}
                                />
                            </p>
                            <p class="description">
                                {post.data.description}
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section> -->
</Default>

<style lang="scss" scoped>
    @import '../../../styles/breakpoints';

    .post-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;

        @include media-breakpoint-up(sd) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .post-item {
        margin: 0;
        padding: 0;
    }

    .post {
        a {
            @include media-breakpoint-up(md) {
                display: block;
                display: flex;
                align-items: center;
                gap: 2rem;
            }
        }

        .post-figure {
            @include media-breakpoint-up(md) {
                width: 33%;
            }
            margin: 0;
            padding: 0;
        }

        .post-content {
            @include media-breakpoint-up(md) {
                width: 66%;
            }

            h3 {
                font-size: 1rem;

                @include media-breakpoint-up(md) {
                    font-size: 1.25rem;
                }
            }
        }
    }
</style>
